*.pyc
*.ipynb
data/*
kaggle/*
models/*
results/*
book_cache/*

!contrastive_anchors_positives.json
!BPEtokenizer_books_an_pos_25000/
!models/mlm_bilstm
!word2vec_cbow_mlmvocab.model
!models/mlm_bilstm_embed_100
!models/ms_marco_emb